<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProjectFlip.Converter.Pdf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ProjectFlip.Converter.Pdf.PdfConverter" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProjectFlip.Converter.Pdf.Properties.Settings>
            <setting name="AcrobatLocation" serializeAs="String">
                <value>C:\Program Files (x86)\Adobe\Reader 10.0\Reader\AcroRd32.exe</value>
            </setting>
        </ProjectFlip.Converter.Pdf.Properties.Settings>
        <ProjectFlip.Converter.Pdf.PdfConverter>
            <setting name="AcrobatLocation" serializeAs="String">
                <value>C:\Program Files (x86)\Adobe\Reader 10.0\Reader\AcroRd32.exe</value>
            </setting>
        </ProjectFlip.Converter.Pdf.PdfConverter>
    </userSettings>
</configuration>